.Section_2 .container {
  max-width: 430px;
  padding: 64px 35px 32px 35px;
  border-radius: 12px;
  background-color: #F4F4F4;
  margin: 0 auto;
}
.Section_2 .container h2 {
  margin: 0 auto;
  max-width: 251px;
  text-align: center;
  font-size: 39.7px;
  font-weight: 600;
  line-height: 53px;
}
.Section_2 .container .welldoing .lorem {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 26px;
}
.Section_2 .container .welldoing .lorem .lorm_1 p {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 20px;
}
.Section_2 .container .welldoing .lorem .lorm_1 .lorm_imges {
  text-align: center;
}
.Section_2 .container .welldoing .lorem .lorem_2 .lorem_imges {
  text-align: center;
}
.Section_2 .container .welldoing .lorem .lorem_2 p {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 20px;
}

.ichki_hotirjamlik {
  display: none;
}

@media screen and (min-width: 1025px) {
  .Section_2 {
    margin: 80px;
    margin-bottom: 80px;
  }
  .Section_2 .container {
    max-width: 1025px;
    padding: 64px 112px;
  }
  .Section_2 .container h2 {
    max-width: 700px;
    font-size: 50.52px;
    font-weight: 600;
    line-height: 62px;
  }
  .Section_2 .container .welldoing .lorem {
    display: flex;
    -moz-column-gap: 52px;
         column-gap: 52px;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 69px;
    justify-content: center;
  }
  .Section_2 .container .welldoing .lorem .lorm_1 .lorm_imges {
    text-align: center;
  }
  .Section_2 .container .welldoing .lorem .lorm_1 p {
    max-width: 252px;
  }
  .Section_2 .container .welldoing .lorem .lorem_2 .lorem_imges {
    text-align: center;
  }
  .Section_2 .container .welldoing .lorem .lorem_2 p {
    max-width: 252px;
  }
}
@media screen and (min-width: 1440px) {
  .Section_2 {
    margin: 80px;
    margin-bottom: 80px;
  }
  .Section_2 .container {
    max-width: 1440px;
    padding: 0px 112px;
  }
  .Section_2 .container h2 {
    max-width: 700px;
    font-size: 50.52px;
    font-weight: 600;
    line-height: 62px;
  }
  .Section_2 .container .welldoing {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .Section_2 .container .welldoing .lorem {
    display: flex;
    -moz-column-gap: 52px;
         column-gap: 52px;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 69px;
    justify-content: center;
  }
  .Section_2 .container .welldoing .lorem .lorm_1 .lorm_imges {
    text-align: start;
  }
  .Section_2 .container .welldoing .lorem .lorm_1 p {
    max-width: 260px;
    text-align: start;
  }
  .Section_2 .container .welldoing .lorem .lorem_2 .lorem_imges {
    text-align: start;
  }
  .Section_2 .container .welldoing .lorem .lorem_2 p {
    max-width: 260px;
    text-align: start;
  }
  .Section_2 .container .welldoing .ichki_hotirjamlik {
    display: inline-block;
    display: flex;
    padding: 177px 1px 41px 107px;
    justify-content: flex-end;
    align-items: center;
  }
}/*# sourceMappingURL=section_2.css.map */